*
!workflow
!workflow/*
!workflow/report/*
!workflow/envs/*
!workflow/scripts/*
!workflow/rules/*
!workflow/rules/annotation/*
!workflow/resources/*
!config/*
!LICENSE
!README.md
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test/config*
!.test/data/**
.test/.snakemake
.test/results
.DS_Store
