samples: config-giab/samples.tsv

units: config-giab/units.tsv

ref:
  # Number of chromosomes to consider for calling.
  # The first n entries of the FASTA will be considered.
  n_chromosomes: 25
  # Ensembl species name
  species: homo_sapiens
  # Ensembl release
  release: 104
  # Genome build
  build: GRCh38
  chromosome: 1

primers:
  trimming:
    activate: false
    # path to fasta files containg primer sequences
    primers_fa1: "path/to/primer-fa1"
    primers_fa2: "path/to/primer-fa2"
    # Library mean + error determines the maximum insert size between the outer primer ends.
    # Specify 0 to have yara autodetect the primer library insert size error.
    library_error: 0
    # Mean insert size between the outer primer ends.
    # Specify 0 to have yara autodetect the primer library insert size.
    library_length: 0

# Estimation of tumor mutational burden.
mutational_burden:
  activate: false
  # Size of the sequenced coding genome for mutational burden estimation
  # Attention: when doing panel sequencing, set this to the
  # CAPTURED coding genome, not the entire one!
  coding_genome_size: 3e7
  # Plotting modes - hist (stratified histogram)
  # or curve (stratified curve)
  mode:
    - hist
    - curve
  # Events to use for mutational burden plotting.
  # In case you have certain samples where this differs, 
  # you can add an additional column mutational_burden_events
  # to the sample table (samples.tsv).
  # There events can be specified comma separated.
  events:
    - somatic_tumor_high
    - somatic_tumor_medium
    - somatic_tumor_low

# printing of variants in a matrix, sorted by recurrence
report:
  # if stratificatio is deactivated, one oncoprint for all
  # samples will be created.
  activate: false
  max_read_depth: 250
  stratify:
    activate: false
    # select a sample sheet column for stratification
    by-column: condition

# printing of variants in a table format
tables:
  activate: false
  # vembrane expression to generate the table
  output:
    expression: "INDEX, CHROM, POS, REF, ALT[0], ANN['Consequence'], ANN['IMPACT'], ANN['SYMBOL'], ANN['Feature']"
    genotype: true
    coverage: true
    event_prob: true
  generate_excel: true

calling:
  infer_genotypes: true
  delly:
    activate: false
  freebayes:
    activate: true
  # See https://varlociraptor.github.io/docs/calling/#generic-variant-calling
  scenario: config-giab/scenario.yaml
  filter:
    candidates: null
  fdr-control:
    threshold: 0.05
    # denote whether local or global FDR shall be controlled
    local: true
    events: 
      # Add any number of events here to filter for.
      # The name of each event can be chosen freely 
      # ("somatic" below is just an example and can be modified as needed).
      present:
        varlociraptor:
          - present
        filter: null
        desc: Somatic variants

# Will be ignored if calc_consensus_reads is activated
remove_duplicates:
  activate: true

# Experimental: calculate consensus reads from PCR duplicates
calc_consensus_reads:
  activate: false

annotations:
  vcfs:
    activate: true
    # annotate with known variants from ensembl
    known: resources/variation.vcf.gz
    # add more external VCFs as needed
    # cosmic: path/to/cosmic.vcf.gz
  dgidb:
    # annotate variants with drug interactions of affected genes
    activate: false
    # List of datasources for filtering dgidb entries
    # Available sources can be found on http://dgidb.org/api/v2/interaction_sources.json
    datasources:
      - DrugBank
  vep:
    # Consider removing --everything if VEP is slow for you (e.g. for WGS), 
    # and think carefully about which annotations you need.
    params: ""
    plugins: []

params:
  cutadapt: ""
  picard:
    MarkDuplicates: "--VALIDATION_STRINGENCY LENIENT"
  gatk:
    BaseRecalibrator: ""
    applyBQSR: ""
  varlociraptor:
    # add extra arguments for varlociraptor call
    # For example, in case of panel data consider to omit certain bias estimations
    # which might be misleading because all reads of an amplicon have the sample start
    # position, strand etc. (--omit-strand-bias, --omit-read-position-bias, 
    # --omit-softclip-bias, --omit-read-orientation-bias).
    call: ""
    # Add extra arguments for varlociraptor preprocess. By default, we limit the depth to 200.
    # Increase this value for panel sequencing!
    preprocess: "--max-depth 300"
  freebayes:
    min_alternate_fraction: 0.05 # Reduce for calling variants with lower VAFs
