samples: config-sra/samples.tsv

units: config-sra/units.tsv

ref:
  # Number of chromosomes to consider for calling.
  # The first n entries of the FASTA will be considered.
  n_chromosomes: 17
  # Ensembl species name
  species: saccharomyces_cerevisiae
  # Ensembl release
  release: 110
  # Genome build
  build: R64-1-1

primers:
  trimming:
    activate: false
    primers_fa1: ""
    primers_fa2: ""
    library_length: 0

# Estimation of tumor mutational burden.
mutational_burden:
  activate: true
  events:
    - changed_only

# Plotting of known mutational signatures
mutational_signatures:
  activate: false
  events:
    - some_id

calling:
  delly:
    activate: true
  freebayes:
    activate: true
  # See https://varlociraptor.github.io/docs/calling/#generic-variant-calling
  scenario: config-sra/scenario.yaml
  # See http://snpeff.sourceforge.net/SnpSift.html#filter
  filter:
    candidates: "ANN['IMPACT'] in ['MODERATE', 'HIGH']"
    moderate: "ANN['IMPACT'] == 'MODERATE'"
  fdr-control:
    threshold: 0.05
    local: true
    events: 
      present:
        varlociraptor: 
          - base_only
          - changed_only
          - both
        filter:
          - moderate
        desc: Variants with moderate impact

annotations:
  dbnsfp:
    activate: false
  vcfs:
    activate: false
    known: resources/variation.vcf.gz
  dgidb:
    activate: false
  vep:
    candidate_calls:
      params: "--fields IMPACT"
      plugins: []
    final_calls:
      params: "--fields IMPACT"
      plugins: []

params:
  cutadapt: ""
  picard:
    MarkDuplicates: ""
  gatk:
    BaseRecalibrator: ""
    applyBQSR: ""
  varlociraptor:
    # add extra arguments for varlociraptor call
    # For example, in case of panel data consider to omit certain bias estimations
    # which might be misleading because all reads of an amplicon have the sample start
    # position, strand etc. (--omit-strand-bias, --omit-read-position-bias, 
    # --omit-softclip-bias, --omit-read-orientation-bias).
    call: ""
    # Add extra arguments for varlociraptor preprocess. By default, we limit the depth to 200.
    # Increase this value for panel sequencing!
    preprocess: "--max-depth 50"
  freebayes:
    min_alternate_fraction: 0.4 # Reduce for calling variants with lower VAFs

gene_coverage:
  min_avg_coverage: 8

report:
  activate: false
  max_read_depth: 250
  stratify:
    activate: false
    by-column: condition

tables:
  activate: false
  # vembrane expression to generate the table
  output:
    expression: "INDEX, CHROM, POS, REF, ALT[0], ANN['Consequence'], ANN['IMPACT'], ANN['SYMBOL'], ANN['Feature']"
    genotype: true
    coverage: true
    event_prob: true
  generate_excel: true