samples: config-chm-eval/samples.tsv

units: config-chm-eval/units.tsv

ref:
  # Number of chromosomes to consider for calling.
  # The first n entries of the FASTA will be considered.
  n_chromosomes: 25
  # Ensembl species name
  species: homo_sapiens
  # Ensembl release
  release: 100
  # Genome build
  build: GRCh38

primers:
  trimming:
    activate: false
    primers_fa1: ""
    primers_fa2: ""
    library_length: 0

# Estimation of tumor mutational burden.
mutational_burden:
  activate: false
  events:
    - SOMATIC_TUMOR_LOW
    - SOMATIC_TUMOR_MEDIUM
    - SOMATIC_TUMOR_HIGH

# Plotting of known mutational signatures
mutational_signatures:
  activate: false
  events:
    - some_id

calling:
  delly:
    activate: true
  freebayes:
    activate: true
  # See https://varlociraptor.github.io/docs/calling/#generic-variant-calling
  scenario: config-chm-eval/scenario.yaml
  # See http://snpeff.sourceforge.net/SnpSift.html#filter
  filter:
    dummy: ""
  fdr-control:
    events: 
      fdr001:
        threshold: 0.01
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr005:
        threshold: 0.05
        varlociraptor: 
          - "PRESENT"
        filter: dummy
        desc: Dummy variants
      fdr01:
        threshold: 0.1
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr015:
        threshold: 0.15
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr02:
        threshold: 0.2
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr025:
        threshold: 0.25
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr03:
        threshold: 0.3
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
      fdr035:
        threshold: 0.35
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr04:
        threshold: 0.4
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr045:
        threshold: 0.45
        varlociraptor: 
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants
      fdr10:
        threshold: 1.0
        varlociraptor:
          - "PRESENT"
        filter:
          - dummy
        desc: Dummy variants



annotations:
  vcfs:
    activate: false
    known: resources/variation.vcf.gz
  dgidb:
    activate: false
  vep:
    candidate_calls:
      params: ""
      plugins: []
    final_calls:
      params: --everything
      plugins: []


params:
  cutadapt: ""
  picard:
    MarkDuplicates: "--VALIDATION_STRINGENCY lenient"
  gatk:
    BaseRecalibrator: ""
  varlociraptor:
    # add extra arguments for varlociraptor call
    # For example, in case of panel data consider to omit certain bias estimations
    # which might be misleading because all reads of an amplicon have the sample start
    # position, strand etc. (--omit-strand-bias, --omit-read-position-bias, 
    # --omit-softclip-bias, --omit-read-orientation-bias).
    call: ""
    # Add extra arguments for varlociraptor preprocess. By default, we limit the depth to 200.
    # Increase this value for panel sequencing!
    preprocess: "--max-depth 200"
  freebayes:
    min_alternate_fraction: 0.05 # Reduce for calling variants with lower VAFs

benchmarking:
  # this disables odds filtering and annotation
  activate: true


tables:
  activate: false
  # vembrane expression to generate the table
  output:
    expression: "INDEX, CHROM, POS, REF, ALT[0], ANN['Consequence'], ANN['IMPACT'], ANN['SYMBOL'], ANN['Feature']"
    genotype: true
    coverage: true
    event_prob: true
  generate_excel: true

gene_coverage:
  min_avg_coverage: 5

report:
  activate: false
  max_read_depth: 250
  stratify:
    activate: false
    by-column: condition