$schema: "http://json-schema.org/draft-07/schema#"

description: snakemake configuration file

type: object

definitions:
  filterentry:
    type: object
    additionalProperties:
      type: string
  evententry:
    type: object
    properties:
      varlociraptor:
        type: array
        items: 
          type: string
      filter:
        type: string

properties:
  samples:
    type: string
  units:
    type: string

  ref:
    type: object
    properties:
      n_chromosomes:
        type: integer
      species:
        type: string
      release:
        type: integer
      build:
        type: string
    required:
      - species
      - release
      - build
      - n_chromosomes

  primers:
    type: object
    properties:
      trimming:
        type: object
        properties:
          activate: 
            type: boolean
          primers_fq1:
            type: string
          primers_fq2:
            type: string
          library_error:
            type: integer
          library_length:
            type: integer


  report:
    type: object
    activate:
      type: boolean
    properties:
      stratify:
        type: object
        properties:
          activate:
            type: boolean
          by-column:
            type: string
        required:
          - activate
          - by-column
      max_read_depth:
        type: integer
    required:
      - activate
      - max_read_depth


  tables:
    type: object
    activate:
      type: boolean
    properties:
      output:
        type: object
        properties:
          expression:
            type: string
          genotype:
            type: boolean
          genotype:
            type: boolean
          event_prob:
            type: boolean
    generate_excel:
      type: boolean
    required:
      - activate

  tmb:
    type: object
    properties:
      activate:
        type: boolean
      coding_genome_size:
        # TODO allow integer here!
        type: string
      tumor_sample:
        type: string
      somatic_events:
        type: array
        items: 
          type: string
    required:
      - activate
      - coding_genome_size
      - tumor_sample
      - somatic_events


  calling:
    type: object
    properties:
      delly:
        type: object
        properties:
          activate:
            type: boolean
      freebayes:
        type: object
        properties:
          activate:
            type: boolean
      scenario:
        type: string
      filter:
        $ref: "#/definitions/filterentry"
        description: "a map of <filtername: string> pairs"
      fdr-control:
        type: object
        properties:
          threshold:
            type: number
            minimum: 0.0
            maximum: 1.0
          events:
            $ref: "#/definitions/evententry"
            description: "a map of <eventname: event> pairs"
        required:
          - threshold
          - events
    required:
      - delly
      - freebayes
      - scenario
      - filter
      - fdr-control
  
  remove_duplicates:
    type: object
    properties:
      activate:
        type: boolean

  annotations:
    type: object
    properties:
      vcfs:
        properties:
          activate:
            type: boolean
      dgidb:
        properties:
          activate:
            type: boolean
          datasources:
            type: array
            items: 
              type: string
      vep:
        properties:
          params:
            type: string
          plugins:
            type: array
            items:
              type: string
        required:
          - params
          - plugins
    required:
      - vep
      - vcfs
      - dgidb




  params:
    type: object
    properties:
      cutadapt:
        type: string
      gatk:
        type: object
        properties:
          BaseRecalibrator:
            type: string
          applyBQSR:
            type: string
        required:
          - BaseRecalibrator
          - applyBQSR
      picard:
        type: object
        properties:
          MarkDuplicates:
            type: string
        required:
          - MarkDuplicates
    required:
      - gatk
      - picard
      - cutadapt

required:
  - samples
  - units
  - ref
  - tmb
  - calling
  - params
  - annotations
