name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches_ignore: []


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper
          # list of changed files within `super-linter`
          fetch-depth: 0
      - name: Formatting
        uses: github/super-linter@v5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SNAKEMAKE_SNAKEFMT: true

  Linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Lint workflow
      uses: snakemake/snakemake-github-action@use-conda-instead-of-docker
      with:
        directory: .
        snakefile: workflow/Snakefile
        args: "--lint"

  Testing:
    runs-on: ubuntu-latest
    needs: 
      - Linting
      - Formatting
    strategy:
      fail-fast: true
      matrix:
        case:
          - name: local input (dryrun)
            args: >
              --configfile .test/config-simple/config.yaml --use-conda 
              --show-failed-logs -j 10 --conda-cleanup-pkgs cache --dryrun
            report: false
            cleanup: false
          - name: local input
            args: >
              --configfile .test/config-simple/config.yaml --use-conda 
              --show-failed-logs -j 10 --conda-cleanup-pkgs cache
            report: true
            cleanup: false
          - name: testcase generation
            args: >
              results/testcases/one/freebayes/IX:314200 --configfile .test/config-simple/config.yaml
            report: false
            cleanup: false
          - name: target regions
            args: >
              --configfile .test/config-target-regions/config.yaml
            report: true
            cleanup: false
          - name: target regions, multiple BEDs
            args: >
              --configfile .test/config-target-regions/config_multiple_beds.yaml
            report: true
            cleanup: false
          - name: no candidate filtering
            args: >
              --configfile .test/config-no-candidate-filtering/config.yaml
            report: true
            cleanup: false
          - name: primers
            args: >
              --configfile .test/config_primers/config.yaml
            report: true
            cleanup: false
          - name: sra download
            args: >
              --configfile .test/config-sra/config.yaml
            report: true
            cleanup: false
    name: test ${{ matrix.name }}

    steps:
      - name: update apt
        run: sudo apt-get update

      - name: Free Disk Space (Ubuntu)
        if: ${{ matrix.cleanup }}
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false
          swap-storage: true

      - uses: actions/checkout@v4

      - name: run workflow
        uses: snakemake/snakemake-github-action@use-conda-instead-of-docker
        with:
          directory: .test
          snakefile: workflow/Snakefile
          args: >
            ${{ matrix.args }} --sdm conda --show-failed-logs --cores 10
            --conda-cleanup-pkgs cache
          show-disk-usage-on-error: true

      - name: generate report
        if: ${{ matrix.report }}
        uses: snakemake/snakemake-github-action@use-conda-instead-of-docker
        with:
          directory: .test
          snakefile: workflow/Snakefile
          args: >
            ${{ matrix.args }} --sdm conda --report report.zip
          show-disk-usage-on-error: true
