name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches_ignore: []

jobs:
  run-workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@2.0.0
    - name: Test workflow (local FASTQs)
      uses: snakemake/snakemake-github-action@v1.5.1
      with:
        directory: .test
        snakefile: workflow/Snakefile
        args: "--use-conda --show-failed-logs -j 10"
    - name: Test workflow (SRA FASTQs)
      uses: snakemake/snakemake-github-action@v1.5.1
      with:
        directory: .test
        snakefile: workflow/Snakefile
        args: "--use-conda -n -j 10"
